<div class="row">
  <div class="col-12 col-md-4 offset-md-4">
    <!-- signup card -->
    <div class="card shadow-sm" *ngIf="!complete">
      <div class="card-body">
        <form
          [formGroup]="signupForm"
          (ngSubmit)="onSubmit()"
          novalidate
          autocomplete="off"
        >
          <div class="form__group field">
            <!-- email -->

            <input
              type="email"
              class="form__field"
              formControlName="email"
              placeholder="Email address"
              [ngClass]="{
                'is-valid': (submitted || f.email.dirty) && !f.email.errors,
                'is-invalid': (submitted || f.email.dirty) && f.email.errors
              }"
            />
            <label for="email" class="form__label">Email</label>
            <div class="invalid-feedback" *ngIf="f.email.errors"></div>
          </div>

          <!-- password -->
          <div class="form__group field">
            <input
              type="password"
              class="form__field"
              formControlName="password"
              placeholder="Choose a password"
              autocomplete="new-password"
              [ngClass]="{
                'is-valid':
                  (submitted || f.password.dirty) && !f.password.errors,
                'is-invalid':
                  (submitted || f.password.dirty) && f.password.errors
              }"
            />
            <label for="password" class="form__label">Password</label>
            <app-password-strength
              [passwordToCheck]="signupForm.value.password!"
              (passwordStrength)="onPasswordStrengthChanged($event)"
            ></app-password-strength>

            <div class="invalid-feedback" *ngIf="f.password.errors"></div>
          </div>

          <button
            mat-button
            color="primary"
            [disabled]="signupForm.invalid || !strongPassword || working"
          >
            Bejelentkezés
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
